.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color:#d0465d;
}

.Pokedex-loser {
  color: #4d40c0;
}
